[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn run:api --debug --port 5042"
# dev = "python run.py"

[packages]
loguru = "==0.5.3"
responder = "==2.0.5"
uvicorn = "==0.10.9"

[dev-packages]

[requires]
python_version = "3.8"
